@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  margin: 0;
}

img {
  max-width: 100%;
  /* Штука которая делает отступ, а ниже ещё одна */
  /* object-fit: contain; */
}

 /* Для выравнивания некоторых элементов  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reset {
  padding: 0;
  margin: 0;
  border: none;
  font: inherit;
}

.main-container {
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
}









.navigation {
  display: flex;
  text-align: center;
  width: 1060px;
  margin: 0 auto;
}

.sedona-logo-link {
  position: absolute;
  margin-right: 30px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding-left: 169px;
  /* Щель от границы сайта появляется тут, но если задать min-with её не будет */
  width: 921px;
}

.main-navigation a{
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 345px;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
}

.navigation-user {
  align-content: center;
  width: 264px;
}

.navigation-user-link {
  display: block;
}

.user-link {
  width: 42px;
}

.navigation-item-brown {
  margin-left: auto;
}

.navigation-item-brown a {
  min-width: 130px;
  min-height: 20px;
  padding: 9px 15px 8px 15px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #756257;
  color: #FFFFFF;
}























.main-baner-text {
  background-color: #83B3D3;
  background-image: url("../images/background/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  margin-bottom: 63px;
}

.main-text {
  display: block;
  margin: 0 auto;
  padding-top: 51px;

}
.divider {
  padding-top: 25px;
  display: block;
}

.main-title {
  width: 720px;
  margin: 0 auto 31px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.main-title-text {
  width: 720px;
  margin: 0px auto 80px;
  color: #333333;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

/* Причины  */

.reason-line {
  display: flex;
}

.reason-block {
  box-sizing: border-box;
  padding-top: 98px;
  width: 400px;
  min-height: 384px;
}

.reason-line-two .reason-block {
  padding-top: 184px;
}

.reason-image {
  display: block;
}
.reasons h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}


.reason-number {
  margin: 0;
  padding-top: 29px;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.reason-text {
  width: 250px;
  margin: 0 auto;
  padding-top: 30px;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.reason-line-two p {
  padding-top: 20px;
}

.reason-block-blue .reason-text {
  width: 220px;
}

.reason-text-white {
  color: #FFFFFF;
}

.reason-block-blue {
  color: #FFFFFF;
  background-color: #83B3D3;
}

.reason-block-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.reason-block-middle {
  background-color: rgba(131, 179, 211, 0.2);
}

/* Поиск гостинницы  */

.search-hotel {
  padding-top: 91px;
  padding-bottom: 93px;
}
.search-hotel-title {
  width: 720px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.seatch-hotel-text {
  width: 720px;
  margin: 29px auto 0;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search-hotel-button {
  display: block;
  margin: 56px auto 0;
  width: 575px;
  min-height: 60px;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.button-brown {
  background-color: #756257;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}

.subscribe {
  box-sizing: border-box;
  width: 1200px;
  min-height: 411px;
  padding-top: 94px;
}

.subscribe-index {
  color: #FFFFFF;
  background-color: #83B3D3;
  background-image: url("../images/background/background-subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-title {
  padding-bottom: 29px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-text {
  margin: 0 auto;
  padding-bottom: 46px;
  width: 720px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe-form {
  width: 800px;
  margin: 0 auto;
}

.subscribe-email-button {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.button-blue {
  color: #FFFFFF;
  background-color: #83B3D3;
  text-transform: uppercase;
  text-align: center;
}

.footer {
  background-color: #FFFFFF;
  color: #000000;
}

.footer-container {
  display: flex;
  align-items: center;
  margin: 40px auto 40px;
}

.footer-nav-link{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 107px;
  margin-left: 72px;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer-numberphone {
  width: 720px;
  margin: 0 auto;
  text-align: center;
}
.footer-numberphone-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.html-academy-logo {
  width: 115px;
  margin-right: 72px;
}

.catalog-hotel-form {
  background-color: #83B3D3;
  color: #FFFFFF;
  background-image: url("../images/background/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.catalog-container {
  margin: 0px 72px 0px 71px;
  min-height: 408px;
}

.catalog-title {
  width: 528px;
  max-height: 68px;
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  padding-top: 35px;
}

.breadcrumbs {
  line-height: 21px;
  margin-top: 3px;
  display: flex;
  width: 111px;
}

.breadcrumbs-link-hotel {
  margin-left: 39px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.catalog-form {
  display: flex;
  margin-top: 45px;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  width: 150px;
  border: 0 none;
}

.catalog-filter-list {
  padding-top: 30px;
  margin: 0;
}

.catalog-filter-group-type {
  margin-left: 67px;
}

.filter-price-container {
  width: 287px;
  margin-left: auto;
  margin-right: 81px;
}

.control {
  display: block;
}

.catalog-filter-title {
  padding: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-item {
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-price {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.filter-input-field {
  display: block;
  min-height: 48px;
  margin-top: 36px;
}

.filter-price {
  margin-top: 20px;
  min-height: 20px;
  width: 287px;
}
.filter-button {
  margin: 60px 0;
  width: 160px;
}

.filter-enter {
  min-width: 160px;
  min-height: 48px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.filter-reset {
  padding: 20px;
  min-width: 160px;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background-color: transparent;
}

.catalog-title-container {
  display: flex;
  align-items: center;
  width: 1057px;
  margin: 44px 72px 0px 71px;
}

.catalog-hotel-title {
  width: 340px;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.sorting-list {
  width: 287px;
  min-height: 48px;
  margin-left: auto;
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  padding-left: 19px;
}

.show-kard {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  width: 160px;
  margin-left: 81px;
}

.show-kard-item {
  width: 48px;
}

.hotel-list {
  display: flex;
  width: 1056px;
  flex-wrap: wrap;
  margin: 0 72px;
  padding: 0;
}

.hotel-card {
  width: 300px;
  padding: 20px;
  margin-top: 53px;
}

.hotel-card:not(:nth-child(3)) {
  margin-right: 18px;
}

.hotel-card a {
  text-decoration: none;
}

.hotel-card-title {
  margin-top: 16px;
  color: #000000;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

.hotel-card-image {
  display: block;
}

/* .hotel-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 16px;
} */

.hotel,
.price {
  display: block;
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel {
  width: 133px;
}

.price {
  width: 143px;
}

.hotel-card-more {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.button-green {
  background-color: #7DB54F;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}

.hotel-card-rating {
  color: #333333;
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.download-more-container {
  max-width: 1056px;
  margin: 30px auto;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

.download-more {
  width: 620px;
  padding: 17px ;
  margin: 30px 218px;
  text-align: center;
}

.download-more,
.pagination-item {
  background-color: #83B3D3;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.pagination-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1056px;
  min-height: 55px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 370px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding-top: 13px;
  color: #FFFFFF;
  text-decoration: none;
}

.pagination-item-current {
  background-color: #F2F2F2;
}

.pagination-item-current a {
  color: #000000;
}

.hotel-list-title {
  width: 175px;
  margin: 0px 51px 0px auto;
}

.hotel-list-select{
  width: 160px;
  height: 48px;
}

.hotel-list-title,
.hotel-list-select {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.subscribe-catalog {
  padding-top: 73px;
  min-height: 455px;
}

.subscribe-title-catalog {
  color: #000000;
  padding-bottom: 46px;
}

.subscribe-text-catalog {
  color: #333333;
}

::placeholder {
  color: #000000;
  opacity: 0.6;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
}

.subscribe-field {
  font-size: 18px;
  line-height: 26px;
}
